.form-check label {
  padding: 7px 5px 7px 0;
  border: 2px solid #ddd;
  border-radius: 5px;
}
.form-check-label:first-child {
  background: #aaa;
  padding: 5px 10px;
  font-weight: normal;
}
.form-check-label {
  padding: 5px 15px;
  background: #ddd;
  border-radius: 5px;
  width: auto;
  margin-left: 5px;
  font-weight: bold;
}
.form-check-input[type=radio] {
  opacity: 0;
}
.form-check {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px;
}

.form-check .form-check-input:checked + label {
  border-color: #89bfe5;
}
.form-check .form-check-input:checked + label .form-check-label {
  background: #89bfe5;
}